PORT=
DB_DATABASE_NAME=
DB_USER_NAME=
DB_PASSWORD=
DB_HOST=
DB_DIALECT=
NODE_ENV=
SECRET_KEY_JWT=
COMPANY_NAME=
COMPANY_EMAIL=
COMPANY_PASSWORD_EMAIL=
SECRET_KEY_RECOVERY_JWT=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=